body {
	overflow: hidden;
	min-width: 300px;
	min-height: 200px;
	margin: 0px;
	padding: 0px;
	background: white;
}

div.inputfield {
	width: 100%;
	height: 30px;
}

b {
	float: left;
	display: block;
}
input {
	margin: 3px;
	float: right;
	display: block;
}

.inputdiv {
	margin: 5px 5px 5px 0px;
	padding-left: 20px;
	float: right;
}
	
#spaces {
	margin: 3px;
	float: right;
}
	
button {
	float: left;
	margin: 5px;
}